In [1]:
import pandas as pd
import os
dir_name="C:/Users/namra/Practicum Dataset/user_data/user01/1598832660/"

In [40]:
dir = os.listdir( dir_name+'mMag' )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"mMag/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mMag_x','y': 'mMag_y','z': 'mMag_z'})
   df.to_csv(dir_name+"mMag/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_mMag.csv",index=False)

In [41]:
dir = os.listdir( dir_name+"mAcc" )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"mAcc/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mAcc_x','y': 'mAcc_y','z': 'mAcc_z'})
   df.to_csv(dir_name+"mAcc/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append
df_csv_append.to_csv(dir_name+"1598832660_mAcc.csv",index=False)

In [42]:
dir = os.listdir( dir_name+"mGyr" )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"mGyr/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mGyr_x','y': 'mGyr_y','z': 'mGyr_z','roll':'mGyr_roll','pitch':'mGyr_pitch', 'yaw':'mGyr_yaw'})
   df.to_csv(dir_name+"mGyr/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_mGyr.csv",index=False)

In [43]:
dir = os.listdir( dir_name+"mGps" )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"mGps/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'lat': 'mGps_lat','lon': 'mGps_lon','accuracy': 'mGps_accr'})
   df.to_csv(dir_name+"mGps/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_mGps.csv",index=False)

In [ ]:
dir = os.listdir( dir_name+"e4Acc" )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"mAcc/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'e4Acc_x','y': 'e4Acc_y','z': 'e4Acc_z'})
   df.to_csv(dir_name+"e4Acc/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append
df_csv_append.to_csv(dir_name+"1598832660_e4Acc.csv",index=False)

In [2]:
dir = os.listdir( dir_name+'e4Bvp' )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"e4Bvp/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'value': 'e4Bvp_val'})
   df.to_csv(dir_name+"e4Bvp/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_e4Bvp.csv",index=False)

In [ ]:
dir = os.listdir( dir_name+'e4Eda' )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"e4Eda/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'eda': 'e4Eda_val'})
   df.to_csv(dir_name+"e4Eda/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_e4Eda.csv",index=False)

In [ ]:
dir = os.listdir( dir_name+'e4Hr' )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"e4Hr/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'hr': 'e4Hr_val'})
   df.to_csv(dir_name+"e4Hr/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_e4Hr.csv",index=False)

In [ ]:
dir = os.listdir( dir_name+'e4Temp' )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"e4Temp/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'temp': 'e4Temp_val'})
   df.to_csv(dir_name+"e4Temp/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv(dir_name+"1598832660_e4Temp.csv",index=False)

In [44]:
df = pd.read_csv(dir_name+"1599442080_mAcc.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_mAcc.csv",index=False)
df

             timestamp    mAcc_x    mAcc_y    mAcc_z
0        1599442084090  0.555472  7.048745  6.759038
1        1599442084220  0.478855  7.139728  6.775798
2        1599442084281  0.426181  7.235498  6.948185
3        1599442084289  0.792505  7.048745  6.586650
4        1599442084329  0.526740  7.039168  6.929031
...                ...       ...       ...       ...
1296082  1599488724042  1.960911  7.767027  5.542746
1296083  1599488724087  2.552297  7.676045  5.233885
1296084  1599488724204  2.063865  7.764633  5.767808
1296085  1599488724207  1.884294  8.013638  5.854002
1296086  1599488724288  1.999219  7.941810  5.640912

[1296087 rows x 4 columns]

In [45]:
df = pd.read_csv(dir_name+"1598832660_mMag.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_mMag.csv",index=False)
df

             timestamp     mMag_x     mMag_y     mMag_z
0        1599442084242 -18.100000 -13.500000  10.400001
1        1599442084281 -18.400000 -13.700000  10.200000
2        1599442084289 -17.300001 -12.800000  10.200000
3        1599442084329 -17.600000 -13.800000   9.000000
4        1599442084351 -18.500000 -14.000000   8.100000
...                ...        ...        ...        ...
1249163  1599488724042  -7.000000 -26.700000  -6.900000
1249164  1599488724089  -7.000000 -26.700000  -6.800000
1249165  1599488724205  -7.000000 -26.700000  -6.900000
1249166  1599488724208  -7.100000 -26.800001  -6.900000
1249167  1599488724290  -7.100000 -26.800001  -6.600000

[1249168 rows x 4 columns]

In [46]:
df = pd.read_csv(dir_name+"1598832660_mGyr.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_mGyr.csv",index=False)
df

,timestamp,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw
0,1599442084289,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000e+00
1,1599442084329,-0.015909,0.013330,-0.004878,0.000005,0.000006,1.744981e-06
2,1599442084351,-0.028126,-0.006829,-0.000602,-0.000003,0.000014,2.925610e-07
3,1599442084390,0.009748,-0.008661,-0.002435,-0.000004,-0.000004,1.083783e-06
4,1599442084439,-0.044009,-0.036150,0.001230,-0.000035,0.000042,-1.175091e-06
...,...,...,...,...,...,...,...
1249002,1599488724043,0.057351,-0.073730,0.002818,-0.000116,-0.000090,-4.423280e-06
1249003,1599488724090,-0.022061,-0.019973,-0.063766,-0.000024,0.000026,7.528262e-05
1249004,1599488724206,-0.008011,-0.093888,-0.074151,-0.000189,0.000016,1.491709e-04
1249005,1599488724207,0.083618,-0.095110,-0.028947,-0.000415,-0.000365,1.261031e-04
1249006,1599488724291,-0.036111,0.018511,-0.022228,0.000029,0.000056,3.450755e-05

In [47]:
df = pd.read_csv(dir_name+"1598832660_mGps.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_mGps.csv",index=False)
df

           timestamp   mGps_lat    mGps_lon  mGps_accr
0      1599442084000  37.476764  126.958305   1299.999
1      1599442087000  37.478380  126.958819    657.999
2      1599442090000  37.478378  126.958906     22.738
3      1599442093000  37.478276  126.958860     20.948
4      1599442096000  37.478230  126.958817     12.280
...              ...        ...         ...        ...
10172  1599488702000  37.482450  126.956285     63.878
10173  1599488706000  37.482442  126.956274     15.758
10174  1599488711000  37.482429  126.956244     14.119
10175  1599488716000  37.482429  126.956244     14.119
10176  1599488721000  37.482420  126.956262     12.035

[10177 rows x 4 columns]

In [ ]:
df = pd.read_csv(dir_name+"1598832660_e4Acc.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_e4Acc.csv",index=False)
df

In [3]:
df = pd.read_csv(dir_name+"1598832660_e4Bvp.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_e4Bvp.csv",index=False)
df

            timestamp  e4Bvp_val
0       1598833283171       0.01
1       1598833283187       0.01
2       1598833283218      -0.03
3       1598833283234      -0.05
4       1598833283250      -0.05
...               ...        ...
446635  1598880599921     -11.92
446636  1598880599937     -10.91
446637  1598880599953      -8.90
446638  1598880599968      -4.88
446639  1598880599984       1.01

[446640 rows x 2 columns]

In [ ]:
df = pd.read_csv(dir_name+"1598832660_e4Eda.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_e4Eda.csv",index=False)
df

In [ ]:
df = pd.read_csv(dir_name+"1598832660_e4Hr.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_e4Hr.csv",index=False)
df

In [ ]:
df = pd.read_csv(dir_name+"1598832660_e4Temp.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv(dir_name+"1598832660_e4Temp.csv",index=False)
df

In [48]:
import pandas as pd
import os
mAcc = pd.read_csv(dir_name+"1598832660_mAcc.csv")
mAcc['timestamp']=mAcc['timestamp'].astype('int64')
mMag = pd.read_csv(dir_name+"1598832660_mMag.csv")
mMag['timestamp']=mMag['timestamp'].astype('int64')
combined_csv = pd.merge_asof(mAcc, mMag, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z
0,1599442084090,0.555472,7.048745,6.759038,-18.100000,-13.500000,10.400001
1,1599442084220,0.478855,7.139728,6.775798,-18.100000,-13.500000,10.400001
2,1599442084281,0.426181,7.235498,6.948185,-18.400000,-13.700000,10.200000
3,1599442084289,0.792505,7.048745,6.586650,-17.300001,-12.800000,10.200000
4,1599442084329,0.526740,7.039168,6.929031,-17.600000,-13.800000,9.000000
...,...,...,...,...,...,...,...
1296082,1599488724042,1.960911,7.767027,5.542746,-7.000000,-26.700000,-6.900000
1296083,1599488724087,2.552297,7.676045,5.233885,-7.000000,-26.700000,-6.800000
1296084,1599488724204,2.063865,7.764633,5.767808,-7.000000,-26.700000,-6.900000
1296085,1599488724207,1.884294,8.013638,5.854002,-7.100000,-26.800001,-6.900000
1296086,1599488724288,1.999219,7.941810,5.640912,-7.100000,-26.800001,-6.600000

In [49]:
mGyr = pd.read_csv(dir_name+"1598832660_mGyr.csv")

combined_csv = pd.merge_asof(combined_csv, mGyr, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw
0,1599442084090,0.555472,7.048745,6.759038,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000
1,1599442084220,0.478855,7.139728,6.775798,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000
2,1599442084281,0.426181,7.235498,6.948185,-18.400000,-13.700000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000
3,1599442084289,0.792505,7.048745,6.586650,-17.300001,-12.800000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000
4,1599442084329,0.526740,7.039168,6.929031,-17.600000,-13.800000,9.000000,-0.015909,0.013330,-0.004878,0.000005,0.000006,0.000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296082,1599488724042,1.960911,7.767027,5.542746,-7.000000,-26.700000,-6.900000,0.057351,-0.073730,0.002818,-0.000116,-0.000090,-0.000004
1296083,1599488724087,2.552297,7.676045,5.233885,-7.000000,-26.700000,-6.800000,-0.022061,-0.019973,-0.063766,-0.000024,0.000026,0.000075
1296084,1599488724204,2.063865,7.764633,5.767808,-7.000000,-26.700000,-6.900000,-0.008011,-0.093888,-0.074151,-0.000189,0.000016,0.000149
1296085,1599488724207,1.884294,8.013638,5.854002,-7.100000,-26.800001,-6.900000,0.083618,-0.095110,-0.028947,-0.000415,-0.000365,0.000126
1296086,1599488724288,1.999219,7.941810,5.640912,-7.100000,-26.800001,-6.600000,-0.036111,0.018511,-0.022228,0.000029,0.000056,0.000035

In [50]:
mGps = pd.read_csv(dir_name+"1598832660_mGps.csv")

combined_csv = pd.merge_asof(combined_csv, mGps, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw,mGps_lat,mGps_lon,mGps_accr
0,1599442084090,0.555472,7.048745,6.759038,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,1299.999
1,1599442084220,0.478855,7.139728,6.775798,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,1299.999
2,1599442084281,0.426181,7.235498,6.948185,-18.400000,-13.700000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,1299.999
3,1599442084289,0.792505,7.048745,6.586650,-17.300001,-12.800000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,1299.999
4,1599442084329,0.526740,7.039168,6.929031,-17.600000,-13.800000,9.000000,-0.015909,0.013330,-0.004878,0.000005,0.000006,0.000002,37.476764,126.958305,1299.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296082,1599488724042,1.960911,7.767027,5.542746,-7.000000,-26.700000,-6.900000,0.057351,-0.073730,0.002818,-0.000116,-0.000090,-0.000004,37.482420,126.956262,12.035
1296083,1599488724087,2.552297,7.676045,5.233885,-7.000000,-26.700000,-6.800000,-0.022061,-0.019973,-0.063766,-0.000024,0.000026,0.000075,37.482420,126.956262,12.035
1296084,1599488724204,2.063865,7.764633,5.767808,-7.000000,-26.700000,-6.900000,-0.008011,-0.093888,-0.074151,-0.000189,0.000016,0.000149,37.482420,126.956262,12.035
1296085,1599488724207,1.884294,8.013638,5.854002,-7.100000,-26.800001,-6.900000,0.083618,-0.095110,-0.028947,-0.000415,-0.000365,0.000126,37.482420,126.956262,12.035
1296086,1599488724288,1.999219,7.941810,5.640912,-7.100000,-26.800001,-6.600000,-0.036111,0.018511,-0.022228,0.000029,0.000056,0.000035,37.482420,126.956262,12.035

In [51]:
labels = pd.read_csv(dir_name+"1598832660_label.csv")
labels.rename(columns={'ts':'timestamp'},inplace='True')
labels['timestamp']=labels['timestamp'].astype('int64')
labels['timestamp']=labels['timestamp']*1000
labels

,timestamp,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1599442080000,travel,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
1,1599442140000,travel,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,0
2,1599442200000,travel,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,0
3,1599442260000,travel,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
4,1599442320000,travel,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
726,1599488460000,meal,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,3
727,1599488520000,meal,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,3
728,1599488580000,meal,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,3
729,1599488640000,meal,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4
730,1599488700000,meal,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4

In [ ]:
combined_csv = pd.read_csv(dir_name+"1598832660_combined.csv")
e4Bvp = pd.read_csv(dir_name+"1598832660_e4Bvp.csv")

combined_csv = pd.merge_asof(combined_csv, e4Bvp, on='timestamp',direction='nearest')
combined_csv

In [52]:
combined_csv = pd.merge_asof(combined_csv, labels, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,...,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1599442084090,0.555472,7.048745,6.759038,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,...,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
1,1599442084220,0.478855,7.139728,6.775798,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,...,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
2,1599442084281,0.426181,7.235498,6.948185,-18.400000,-13.700000,10.200000,0.042734,-0.055698,0.019556,...,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
3,1599442084289,0.792505,7.048745,6.586650,-17.300001,-12.800000,10.200000,0.042734,-0.055698,0.019556,...,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
4,1599442084329,0.526740,7.039168,6.929031,-17.600000,-13.800000,9.000000,-0.015909,0.013330,-0.004878,...,82,move_method,2.0,ALONE,NaN,NaN,outdoor,7,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296082,1599488724042,1.960911,7.767027,5.542746,-7.000000,-26.700000,-6.900000,0.057351,-0.073730,0.002818,...,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4
1296083,1599488724087,2.552297,7.676045,5.233885,-7.000000,-26.700000,-6.800000,-0.022061,-0.019973,-0.063766,...,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4
1296084,1599488724204,2.063865,7.764633,5.767808,-7.000000,-26.700000,-6.900000,-0.008011,-0.093888,-0.074151,...,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4
1296085,1599488724207,1.884294,8.013638,5.854002,-7.100000,-26.800001,-6.900000,0.083618,-0.095110,-0.028947,...,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4
1296086,1599488724288,1.999219,7.941810,5.640912,-7.100000,-26.800001,-6.600000,-0.036111,0.018511,-0.022228,...,122,meal_amount,3.0,ALONE,NaN,NaN,home,7,4,4

In [53]:
combined_csv.columns

Index(['timestamp', 'mAcc_x', 'mAcc_y', 'mAcc_z', 'mMag_x', 'mMag_y', 'mMag_z',
       'mGyr_x', 'mGyr_y', 'mGyr_z', 'mGyr_roll', 'mGyr_pitch', 'mGyr_yaw',
       'mGps_lat', 'mGps_lon', 'mGps_accr', 'action', 'actionOption',
       'actionSub', 'actionSubOption', 'condition', 'conditionSub1Option',
       'conditionSub2Option', 'place', 'emotionPositive', 'emotionTension',
       'activity'],
      dtype='object')

In [54]:
combined_csv.drop(columns=['actionOption','actionSub', 'actionSubOption', 'condition', 'conditionSub1Option',
      'conditionSub2Option','place','emotionPositive', 'emotionTension','activity','mGps_accr'], inplace=True)
combined_csv.to_csv(dir_name+"1599442080_combined.csv",index=False)
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw,mGps_lat,mGps_lon,action
0,1599442084090,0.555472,7.048745,6.759038,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,travel
1,1599442084220,0.478855,7.139728,6.775798,-18.100000,-13.500000,10.400001,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,travel
2,1599442084281,0.426181,7.235498,6.948185,-18.400000,-13.700000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,travel
3,1599442084289,0.792505,7.048745,6.586650,-17.300001,-12.800000,10.200000,0.042734,-0.055698,0.019556,-0.000000,-0.000000,0.000000,37.476764,126.958305,travel
4,1599442084329,0.526740,7.039168,6.929031,-17.600000,-13.800000,9.000000,-0.015909,0.013330,-0.004878,0.000005,0.000006,0.000002,37.476764,126.958305,travel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296082,1599488724042,1.960911,7.767027,5.542746,-7.000000,-26.700000,-6.900000,0.057351,-0.073730,0.002818,-0.000116,-0.000090,-0.000004,37.482420,126.956262,meal
1296083,1599488724087,2.552297,7.676045,5.233885,-7.000000,-26.700000,-6.800000,-0.022061,-0.019973,-0.063766,-0.000024,0.000026,0.000075,37.482420,126.956262,meal
1296084,1599488724204,2.063865,7.764633,5.767808,-7.000000,-26.700000,-6.900000,-0.008011,-0.093888,-0.074151,-0.000189,0.000016,0.000149,37.482420,126.956262,meal
1296085,1599488724207,1.884294,8.013638,5.854002,-7.100000,-26.800001,-6.900000,0.083618,-0.095110,-0.028947,-0.000415,-0.000365,0.000126,37.482420,126.956262,meal
1296086,1599488724288,1.999219,7.941810,5.640912,-7.100000,-26.800001,-6.600000,-0.036111,0.018511,-0.022228,0.000029,0.000056,0.000035,37.482420,126.956262,meal

In [55]:
combined_csv.action.unique()

array(['travel', 'study', 'recreation_etc', 'work', 'socialising', 'meal',
       'personal_care', 'household', 'recreation_media'], dtype=object)