In [95]:
import pandas as pd
import os
dir_name="C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/mMag"
dir = os.listdir( dir_name )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mMag_x','y': 'mMag_y','z': 'mMag_z'})
   df.to_csv(dir_name+"/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mMag.csv",index=False)

In [92]:
dir_name="C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/mAcc"
dir = os.listdir( dir_name )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mAcc_x','y': 'mAcc_y','z': 'mAcc_z'})
   df.to_csv(dir_name+"/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append
df_csv_append.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mAcc.csv",index=False)

In [89]:
dir_name="C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/mGyr"
dir = os.listdir( dir_name )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'x': 'mGyr_x','y': 'mGyr_y','z': 'mGyr_z','roll':'mGyr_roll','pitch':'mGyr_pitch', 'yaw':'mGyr_yaw'})
   df.to_csv(dir_name+"/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGyr.csv",index=False)

In [90]:
dir_name="C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/mGps"
dir = os.listdir( dir_name )
df_list = []

for file in dir:
   df = pd.read_csv(dir_name+"/"+file)
   df['timestamp_s'] = float(os.path.splitext(file)[0])
   df = df.rename(columns={'lat': 'mGps_lat','lon': 'mGps_lon','accuracy': 'mGps_accr'})
   df.to_csv(dir_name+"/"+file,index=False)
   df_list.append(df)

df_csv_append = pd.concat(df_list, ignore_index=True)
df_csv_append.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGps.csv",index=False)

In [93]:
df = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mAcc.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mAcc.csv",index=False)
df

            timestamp    mAcc_x    mAcc_y    mAcc_z
0       1598759880008 -0.318439 -0.172388  9.703996
1       1598759880054 -0.323227 -0.172388  9.718362
2       1598759880075 -0.332804 -0.169993  9.699207
3       1598759880108 -0.316044 -0.184359  9.720756
4       1598759880135 -0.323227 -0.158022  9.687236
...               ...       ...       ...       ...
774307  1598795999845 -0.311256 -0.179571  9.713572
774308  1598795999890 -0.337593 -0.172388  9.718362
774309  1598795999915 -0.316044 -0.162811  9.696813
774310  1598795999946 -0.325621 -0.162811  9.713572
774311  1598795999984 -0.306467 -0.172388  9.715967

[774312 rows x 4 columns]

In [96]:
df = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mMag.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mMag.csv",index=False)
df

            timestamp     mMag_x     mMag_y  mMag_z
0       1598759916629  -6.900000 -85.100000   -18.5
1       1598759916635  -8.700000 -86.900000   -18.7
2       1598759916683  -7.500000 -84.300000   -18.7
3       1598759916709  -8.400001 -86.100000   -18.1
4       1598759916748  -7.000000 -86.000000   -19.9
...               ...        ...        ...     ...
769531  1598795999846 -32.000000  18.300001   -23.4
769532  1598795999889 -32.000000  18.300001   -23.5
769533  1598795999929 -31.900000  18.300001   -23.5
769534  1598795999949 -31.900000  18.200000   -23.5
769535  1598795999985 -31.900000  18.300001   -23.5

[769536 rows x 4 columns]

In [97]:
df = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGyr.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGyr.csv",index=False)
df

,timestamp,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw
0,1598759916640,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
1,1598759916683,-0.001887,0.000349,-0.001857,1.953359e-08,1.056730e-07,1.039967e-07
2,1598759916709,-0.001276,-0.003316,-0.001246,-2.618966e-07,1.007740e-07,9.841023e-08
3,1598759916749,-0.001276,-0.005760,-0.001857,-7.470899e-07,1.655181e-07,2.408690e-07
4,1598759916768,-0.001887,-0.000262,-0.001857,-1.462123e-08,1.052797e-07,1.036096e-07
...,...,...,...,...,...,...,...
719746,1598795999848,0.002714,0.000519,-0.001157,3.098994e-08,-1.619862e-07,6.905287e-08
719747,1598795999892,-0.000951,0.000519,-0.000546,1.321348e-08,2.420400e-08,1.389748e-08
719748,1598795999909,-0.001562,-0.001313,0.000676,-5.624877e-08,6.689680e-08,-2.893541e-08
719749,1598795999951,0.000881,-0.000092,0.000065,-1.622153e-09,-1.560511e-08,-1.146322e-09
719750,1598795999986,-0.003395,-0.001313,0.000676,-9.686558e-08,2.503637e-07,-4.982945e-08

In [98]:
df = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGps.csv")
df['timestamp_s']=df['timestamp_s'].astype('int64')
df['timestamp']=df['timestamp']*1000
df['timestamp']=df['timestamp'].astype('int64')
df['timestamp_s']=df['timestamp_s']*1000
df['timestamp']=df['timestamp_s']+df['timestamp']
df.drop(columns=['timestamp_s'],inplace=True)
df.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGps.csv",index=False)
df

          timestamp   mGps_lat    mGps_lon  mGps_accuracy
0     1598759919000  37.544851  127.054421         34.077
1     1598759923000  37.544952  127.054391         37.184
2     1598759933000  37.544954  127.054413         34.264
3     1598759939000  37.544954  127.054413         34.264
4     1598759943000  37.544825  127.054485         68.169
...             ...        ...         ...            ...
5583  1598795951000  37.482462  126.956314         11.513
5584  1598795961000  37.482457  126.956318         11.613
5585  1598795971000  37.482452  126.956317         11.705
5586  1598795981000  37.482459  126.956315         11.500
5587  1598795991000  37.482458  126.956318         11.613

[5588 rows x 4 columns]

In [1]:
import pandas as pd
import os
df1 = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mAcc.csv")
df1['timestamp']=df1['timestamp'].astype('int64')
df2 = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mMag.csv")
df2['timestamp']=df2['timestamp'].astype('int64')
combined_csv = pd.merge_asof(df1, df2, on='timestamp',direction='nearest')
combined_csv

            timestamp    mAcc_x    mAcc_y    mAcc_z  mMag_x     mMag_y  mMag_z
0       1598759880008 -0.318439 -0.172388  9.703996    -6.9 -85.100000   -18.5
1       1598759880054 -0.323227 -0.172388  9.718362    -6.9 -85.100000   -18.5
2       1598759880075 -0.332804 -0.169993  9.699207    -6.9 -85.100000   -18.5
3       1598759880108 -0.316044 -0.184359  9.720756    -6.9 -85.100000   -18.5
4       1598759880135 -0.323227 -0.158022  9.687236    -6.9 -85.100000   -18.5
...               ...       ...       ...       ...     ...        ...     ...
774307  1598795999845 -0.311256 -0.179571  9.713572   -32.0  18.300001   -23.4
774308  1598795999890 -0.337593 -0.172388  9.718362   -32.0  18.300001   -23.5
774309  1598795999915 -0.316044 -0.162811  9.696813   -31.9  18.300001   -23.5
774310  1598795999946 -0.325621 -0.162811  9.713572   -31.9  18.200000   -23.5
774311  1598795999984 -0.306467 -0.172388  9.715967   -31.9  18.300001   -23.5

[774312 rows x 7 columns]

In [3]:
df3 = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGyr.csv")

combined_csv = pd.merge_asof(combined_csv, df3, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw
0,1598759880008,-0.318439,-0.172388,9.703996,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
1,1598759880054,-0.323227,-0.172388,9.718362,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
2,1598759880075,-0.332804,-0.169993,9.699207,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
3,1598759880108,-0.316044,-0.184359,9.720756,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
4,1598759880135,-0.323227,-0.158022,9.687236,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
774307,1598795999845,-0.311256,-0.179571,9.713572,-32.0,18.300001,-23.4,0.002714,0.000519,-0.001157,3.098994e-08,-1.619862e-07,6.905287e-08
774308,1598795999890,-0.337593,-0.172388,9.718362,-32.0,18.300001,-23.5,-0.000951,0.000519,-0.000546,1.321348e-08,2.420400e-08,1.389748e-08
774309,1598795999915,-0.316044,-0.162811,9.696813,-31.9,18.300001,-23.5,-0.001562,-0.001313,0.000676,-5.624877e-08,6.689680e-08,-2.893541e-08
774310,1598795999946,-0.325621,-0.162811,9.713572,-31.9,18.200000,-23.5,0.000881,-0.000092,0.000065,-1.622153e-09,-1.560511e-08,-1.146322e-09
774311,1598795999984,-0.306467,-0.172388,9.715967,-31.9,18.300001,-23.5,-0.003395,-0.001313,0.000676,-9.686558e-08,2.503637e-07,-4.982945e-08

In [5]:
df4 = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_mGps.csv")

combined_csv = pd.merge_asof(combined_csv, df4, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw,mGps_lat,mGps_lon,mGps_accuracy
0,1598759880008,-0.318439,-0.172388,9.703996,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,34.077
1,1598759880054,-0.323227,-0.172388,9.718362,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,34.077
2,1598759880075,-0.332804,-0.169993,9.699207,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,34.077
3,1598759880108,-0.316044,-0.184359,9.720756,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,34.077
4,1598759880135,-0.323227,-0.158022,9.687236,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,34.077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774307,1598795999845,-0.311256,-0.179571,9.713572,-32.0,18.300001,-23.4,0.002714,0.000519,-0.001157,3.098994e-08,-1.619862e-07,6.905287e-08,37.482458,126.956318,11.613
774308,1598795999890,-0.337593,-0.172388,9.718362,-32.0,18.300001,-23.5,-0.000951,0.000519,-0.000546,1.321348e-08,2.420400e-08,1.389748e-08,37.482458,126.956318,11.613
774309,1598795999915,-0.316044,-0.162811,9.696813,-31.9,18.300001,-23.5,-0.001562,-0.001313,0.000676,-5.624877e-08,6.689680e-08,-2.893541e-08,37.482458,126.956318,11.613
774310,1598795999946,-0.325621,-0.162811,9.713572,-31.9,18.200000,-23.5,0.000881,-0.000092,0.000065,-1.622153e-09,-1.560511e-08,-1.146322e-09,37.482458,126.956318,11.613
774311,1598795999984,-0.306467,-0.172388,9.715967,-31.9,18.300001,-23.5,-0.003395,-0.001313,0.000676,-9.686558e-08,2.503637e-07,-4.982945e-08,37.482458,126.956318,11.613

In [7]:
df5 = pd.read_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_label.csv")
df5.rename(columns={'ts':'timestamp'},inplace='True')
df5['timestamp']=df5['timestamp'].astype('int64')
df5['timestamp']=df5['timestamp']*1000
df5

,timestamp,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1598759880000,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
1,1598759940000,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
2,1598760000000,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
3,1598760060000,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
4,1598760120000,work,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...
459,1598795700000,meal,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
460,1598795760000,meal,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
461,1598795820000,meal,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
462,1598795880000,meal,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
463,1598795940000,meal,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3

In [8]:
combined_csv = pd.merge_asof(combined_csv, df5, on='timestamp',direction='nearest')
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,...,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,1598759880008,-0.318439,-0.172388,9.703996,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,...,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
1,1598759880054,-0.323227,-0.172388,9.718362,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,...,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
2,1598759880075,-0.332804,-0.169993,9.699207,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,...,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
3,1598759880108,-0.316044,-0.184359,9.720756,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,...,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
4,1598759880135,-0.323227,-0.158022,9.687236,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,...,212,NaN,NaN,WITH_MANY,4.0,3.0,other_indoor,5,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774307,1598795999845,-0.311256,-0.179571,9.713572,-32.0,18.300001,-23.4,0.002714,0.000519,-0.001157,...,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
774308,1598795999890,-0.337593,-0.172388,9.718362,-32.0,18.300001,-23.5,-0.000951,0.000519,-0.000546,...,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
774309,1598795999915,-0.316044,-0.162811,9.696813,-31.9,18.300001,-23.5,-0.001562,-0.001313,0.000676,...,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
774310,1598795999946,-0.325621,-0.162811,9.713572,-31.9,18.200000,-23.5,0.000881,-0.000092,0.000065,...,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3
774311,1598795999984,-0.306467,-0.172388,9.715967,-31.9,18.300001,-23.5,-0.003395,-0.001313,0.000676,...,121,meal_amount,2.0,ALONE,NaN,NaN,home,7,2,3

In [10]:
combined_csv.columns

Index(['timestamp', 'mAcc_x', 'mAcc_y', 'mAcc_z', 'mMag_x', 'mMag_y', 'mMag_z',
       'mGyr_x', 'mGyr_y', 'mGyr_z', 'mGyr_roll', 'mGyr_pitch', 'mGyr_yaw',
       'mGps_lat', 'mGps_lon', 'mGps_accuracy', 'action', 'actionOption',
       'actionSub', 'actionSubOption', 'condition', 'conditionSub1Option',
       'conditionSub2Option', 'place', 'emotionPositive', 'emotionTension',
       'activity'],
      dtype='object')

In [12]:
combined_csv.drop(columns=['actionOption','actionSub', 'actionSubOption', 'condition', 'conditionSub1Option',
      'conditionSub2Option','place','emotionPositive', 'emotionTension','activity','mGps_accuracy'], inplace=True)
combined_csv.to_csv("C:/Users/namra/Practicum Dataset/user_data/user01/1598759880/1598759880_combined.csv",index=False)
combined_csv

,timestamp,mAcc_x,mAcc_y,mAcc_z,mMag_x,mMag_y,mMag_z,mGyr_x,mGyr_y,mGyr_z,mGyr_roll,mGyr_pitch,mGyr_yaw,mGps_lat,mGps_lon,action
0,1598759880008,-0.318439,-0.172388,9.703996,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,work
1,1598759880054,-0.323227,-0.172388,9.718362,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,work
2,1598759880075,-0.332804,-0.169993,9.699207,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,work
3,1598759880108,-0.316044,-0.184359,9.720756,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,work
4,1598759880135,-0.323227,-0.158022,9.687236,-6.9,-85.100000,-18.5,-0.000665,-0.002706,-0.002468,-0.000000e+00,-0.000000e+00,0.000000e+00,37.544851,127.054421,work
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774307,1598795999845,-0.311256,-0.179571,9.713572,-32.0,18.300001,-23.4,0.002714,0.000519,-0.001157,3.098994e-08,-1.619862e-07,6.905287e-08,37.482458,126.956318,meal
774308,1598795999890,-0.337593,-0.172388,9.718362,-32.0,18.300001,-23.5,-0.000951,0.000519,-0.000546,1.321348e-08,2.420400e-08,1.389748e-08,37.482458,126.956318,meal
774309,1598795999915,-0.316044,-0.162811,9.696813,-31.9,18.300001,-23.5,-0.001562,-0.001313,0.000676,-5.624877e-08,6.689680e-08,-2.893541e-08,37.482458,126.956318,meal
774310,1598795999946,-0.325621,-0.162811,9.713572,-31.9,18.200000,-23.5,0.000881,-0.000092,0.000065,-1.622153e-09,-1.560511e-08,-1.146322e-09,37.482458,126.956318,meal
774311,1598795999984,-0.306467,-0.172388,9.715967,-31.9,18.300001,-23.5,-0.003395,-0.001313,0.000676,-9.686558e-08,2.503637e-07,-4.982945e-08,37.482458,126.956318,meal